
body {
    font-family: Arial, sans-serif;
	
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.background-image {
     /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container {
    margin-top: 50px;
}

.main {
    background-color: rgba(232, 227, 227, 0.947);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.box {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.8);
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.box:focus {
    outline: none;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

footer {
    background-color: #333;
    color: #621616;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
