/*body {
    background-color: rgb(235, 220, 245);
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.main {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

body 

{
    font-family: Arial, sans-serif;
	background-image: url('https://i.pinimg.com/originals/f6/86/e0/f686e02c9710738ef78ca7b52209d91d.gif');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.background-image {
     /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container 
{
    margin-top: 50px;
}

.main 
{
    background-color: rgba(231, 223, 180, 0.936);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.box 
{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(231, 235, 237, 0.8);
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.box:focus 
{
    outline: none;
    background-color: #a0b2f9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]
{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover 
{
    background-color: #45a049;
}

h1 
{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

footer 
{
    background-color: #333;
    color: #f78b8b;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
